<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
  	<!-- 类名 -->
  	<servlet-name>HelloServlet</servlet-name>
  	<!-- 所在的包 -->
  	<servlet-class>com.runood.test.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<!-- 访问的网址 -->
  	<url-pattern>/TomcatTest/HelloServlet</url-pattern>
  </servlet-mapping>
</web-app>